* {
    margin: 0;
    padding: 0;
}

#mainNav {
  min-height: 56px;
  background-color: #333;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.75rem;
  color: #fff;
  border: 1px solid #fff;
}

#mainNav .navbar-toggler:focus {
  outline: none;
}

#mainNav .navbar-brand {
  color: rgba(255, 255, 255, 0.9);
  font-weight: 700;
  padding: .9rem 0;
}

#mainNav .navbar-brand img {
    height: 50px;
    padding-left: 30px;
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 80%);
  outline: none;
  background-color: transparent;
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: transparent;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.8) !important;
    font-family: 'Audiowide', cursive;
}

.navbar-light .navbar-nav .nav-link:hover{
    color: rgba(253, 171, 0,0.7)!important;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 0;
    padding-bottom: 0;
    border-bottom: none;
    background-color: transparent;
    -webkit-transition: background-color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }
  #mainNav .navbar-brand {
    padding: .5rem 0;
    color: rgba(255, 255, 255, 0.8);
  }
  #mainNav .nav-link {
    -webkit-transition: none;
    transition: none;
    padding: 2rem 1.5rem;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Audiowide', cursive;
  }
  #mainNav .nav-link:hover {
    color: rgba(255, 255, 255, 0.75);
  }
  #mainNav .nav-link:active {
    color: white;
  }
  #mainNav.navbar-shrink {
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #161616;
  }
  #mainNav.navbar-shrink .nav-link {
    color: #161616;
    padding: 1.5rem 1.5rem 1.25rem;
    border-bottom: 0.25rem solid transparent;
  }
  #mainNav.navbar-shrink .nav-link:hover {
    color: #64a19d;
  }
  #mainNav.navbar-shrink .nav-link:active {
    color: #467370;
  }
  #mainNav.navbar-shrink .nav-link.active {
    color: #64a19d;
    outline: none;
    border-bottom: 0.25rem solid #64a19d;
  }
}

.masthead {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 35rem;
  padding: 15rem 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0, 0.3)), color-stop(75%, rgba(0,0,0, 0.5)), to(#343233)), url("../img/bg-masthead.jpg");
  background: linear-gradient(to bottom, rgba(0,0,0, 0.5) 0%, rgba(0,0,0, 0.5) 75%, #343233 100%), url("../img/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.masthead h1 {
  font-family: 'Varela Round';
  font-size: 2.5rem;
  line-height: 2.5rem;
  letter-spacing: 0.8rem;
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.1));
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.masthead h2 {
  max-width: 20rem;
  font-size: 1rem;
  
}

@media (min-width: 768px) {
  .masthead h1 {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  .masthead {
    height: 100vh;
    padding: 0;
  }
  .masthead h1 {
    font-size: 6.5rem;
    line-height: 6.5rem;
    letter-spacing: 0.8rem;
  }
  .masthead h2 {
    max-width: 30rem;
    font-size: 1.25rem;
    color: rgba(255,255,255,.7)!important;
  }
}


/*---------SERVICES----------*/

#services {
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/services.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
    min-height: 550px;
}

#services h1 {
    text-align: center;
    color: #efefef !important;
    padding-bottom: 10px;
    font-family: 'Audiowide', cursive;
}

#services h1::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}

.services {
    margin-top: 40px;
}

.icon {
    font-size: 40px;
    margin: 20px auto;
    padding: 12px;
    height: 90px;
    width: 90px;
    border: 1px solid #fff;
    border-radius: 50%;
}

#services p {
    font-size: 14px;
    margin-top: 20px;
    color: #ccc;
}

#services a{
        color: #efefef !important;
        text-decoration-line: none !important;
}

#services h3 {
    font-family: 'Ubuntu', sans-serif !important;
    letter-spacing: 2px;
}

.services .col-md-3:hover {
    background: rgb(255,255,255,0.2);
    cursor: pointer;
    transition: 0.7s;
}
.services .col-md-3:hover {
    background: rgb(255,255,255,0.2);
    cursor: pointer;
    transition: 0.7s;
}

.bg-black {
  background-color: #161616 !important;
}

.bg-primary {
  background-color: #64a19d !important;
}

.text-primary {
  color: #64a19d !important;
}

footer {
  padding: 1rem 0;
}

.box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(500%,500%);
}

.box span {
    display: block;
    width: 20px;
    height: 20px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}

.box span:nth-child(2) {
    animation-delay: -0.2s;
}

.box span:nth-child(3) {
    animation-delay: -0.4s;
}

@keyframes animate {
    0% {
        opacity: 0;
        transform: rotate(45deg) translate(-20px, -20px);
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: rotate(45deg) translate(20px, 20px);
    }
}

/*Footer*/

.text-muted {
    color: aliceblue !important;
    font-family: 'Gugi', cursive !important;
    letter-spacing: 3px;
}

/*Swiper JS*/

body {
      background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url(../img/hotel-1.jpg);
    background-size: cover;
    background-position: center;
    color: #efefef !important;
    background-attachment: fixed;
    padding-top: 50px;
    padding-bottom: 50px;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      padding-bottom: 50px;
    }

    .swiper-container h1{
      max-width: 100%;
      padding-bottom: 20px;
      text-align: center;
      color: #efefef !important;
      font-family: 'Audiowide', cursive;
      background: rgba(0,0,0,0.7);
        
    }

.swiper-container h1::after {
    content: '';
    background: #efefef;
    display: block;
    height: 3px;
    width: 170px;
    margin: 20px auto 5px;
}
    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 400px;
      height: 400px;
    }

.typed-cursor {
    opacity: 0 !important;
}

 .social a {
  text-align: center;
  height: 3rem !important;
  width: 3rem !important;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 100%;
  line-height: 3rem;
  color: rgba(255, 255, 255, 0.3);
  padding-bottom: 5px !important;
}

 .social a:hover {
  color: rgba(253, 171, 0,0.7)!important;
}

 .social a:active {
  color: #fff;
}






